html, body, div {
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align:center;
    overflow: hidden;
    font-family: Impact, Charcoal, sans-serif;
}

#header {
	height: 10%;
}

#score {
	position: absolute;
	left: 10px;
	background-color: #ef00ef;
	/*float: left;*/
    font-family: Impact, Charcoal, sans-serif;
    width: 3em;
    height: 3em;
    line-height: 3em;
}

#level {
	position: absolute;
	right: 10px;
	background-color: #efef00;
	/*float: right;*/
    font-family: Impact, Charcoal, sans-serif;
    width: 3em;
    height: 3em;
    line-height: 3em;
}

#container {
    padding: 10px;
    background-color: #efefef;
	height: 100%;
	width: 100%;
	text-align:center;
}

#curtain {
	background: #efefef;
	position: absolute;
	z-index: 3;
}

#message {
	position: absolute;
	top: 50%;
}

.curtain_open {
	top: -100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.curtain_closed {
	top: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#canvas {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
	display:inline;
	border: 1px solid #000;
	position: absolute;
	z-index: 2;
}

#canvasBottom {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
	display:inline;
	border: 1px solid #000;
	position: absolute;
	z-index: 0;
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}

#fog {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
}

#play_btn {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
}

#play_btn:hover {
	color: rgba(0, 0, 0, 1.0);
}
