html, body {
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
	text-align:center;
	position: fixed;
	top: 0;
	left: 0;
	height: 2em;
	width: 100%;
	background-color: #efefef;
    z-index: 10;
}

.info {
	font-family: Impact, Charcoal, sans-serif;
    width: 3em;
    height: 2em;
    line-height: 2em;
    z-index: 5;
}

.label {
	height: 2em;
    line-height: 2em;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

#container {
	visibility:hidden;
	position: absolute;
	left: 0;
	top: 0;
    padding: 5px;
	padding-top: 2em;
    background-color: #efefef;
	height: 100%;
	width: 100%;
}

#curtain {
	text-align:center;
    height: 100%;
	background: #efefef;
	position: fixed;
	z-index: 4;
}

#message {
	text-align:center;
	font-size: xx-large;
	font-weight: bold;
	position: relative;
	top: 25%;
}

.curtain_open {
	top: -100%;
	-webkit-transition: all 1.0s ease-in-out;
	-moz-transition: all 1.0s ease-in-out;
	-o-transition: all 1.0s ease-in-out;
	-ms-transition: all 1.0s ease-in-out;
	transition: all 1.0s ease-in-out;
}

.curtain_closed {
	top: 0;
	-webkit-transition: all 1.0s ease-in-out;
	-moz-transition: all 1.0s ease-in-out;
	-o-transition: all 1.0s ease-in-out;
	-ms-transition: all 1.0s ease-in-out;
	transition: all 1.0s ease-in-out;
}

.curtain_start {
	top: 0;
}

#canvas {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
	display:inline;
	border: 1px solid #000;
	position: fixed;
	z-index: 3;
}

#canvasBottom {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
	display:inline;
	border: 1px solid #000;
	position: fixed;
	z-index: 1;
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}

#fog {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 2;
}

#play_btn {
	position: relative;
	top: 20%;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.5);
}

#play_btn:hover {
	color: rgba(0, 0, 0, 1.0);
}
